<div class="container">
<%= form_with(model: task, class: 'row g-3') do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
    <div class="col-12" style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being edited:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col-md-6">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>


  <div class="col-md-6">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :due_date, style: "display: block", class: "form-label" %>
    <%= form.date_field  :due_date, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :priority, style: "display: block", class: "form-label" %>
<%= form.select :priority, options_for_select(Task.priorities.keys.map { |priority| [priority.humanize, priority] }, selected: task.priority), {include_blank: true}, class: "form-select" %>

  </div>

  <div class="col-md-6">
      <%= form.label :status, style: "display: block" , class: "form-label" %>
<%= form.select :status, options_for_select(Task.statuses.keys.map { |status| [status.humanize, status] }, selected: task.status), {include_blank: true}, class: "form-select" %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="col-12 text-center">
    <%= form.submit "Save Task", class: "btn btn-info" %>
    <%= link_to "Back to tasks", tasks_path, class: "btn btn-secondary"  %>

  </div>
<% end %>
</div>