<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card mask-custom">
          <div class="card-body p-4 text-white">
            <div class="text-center pt-3 pb-2">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                alt="Check" width="60">
              <h2 class="my-4">Todo List</h2>
            </div>

            <table class="table text-white mb-0">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Status</th>
                  <th scope="col">Due date</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Edit</th>
                  <th scope="col"> Destroy </th>
                </tr>
              </thead>
              <tbody>
              <% @tasks.each do |task| %>
              <% if task.status == "canceled" %>
              <strike>
              <tr class="fw-normal">
                  <td class="align-middle">
                    <span class="ms-2">
                    <span class="ms-2"><strike><%=task.id %></strike></span>  
                    </span>
                  </td>
                  <td class="align-middle">
                    <span class="ms-2"><strike><%=task.title %> </strike></span>  
                  </td>
                  <td class="align-middle">
                    <span class="ms-2"><strike><%=task.description%></strike></span>  
                  </td>
                  <td class="align-middle">
                    <span class="ms-2"><strike><%=task.status%></strike></span>  
                  </td>
                  <td class="align-middle">
                    <span class="ms-2"><strike><%=task.due_date%></strike></span>  
                  </td>
                  <%  if task.priority == "high" %>
                  <td class="align-middle" style="color:red">
                    <span class="ms-2"><strike><%=task.priority%></strike></span>  
                  </td>
                  <%elsif task.priority == "medium" %>
                    <td class="align-middle" style="color:yellow">
                      <span class="ms-2"><strike><%=task.priority%></strike></span>  
                  </td>
                  <% else %>
                    <td class="align-middle" style="color:red">
                      <span class="ms-2"><strike><%=task.priority%></strike></span>  
                     </td>
                  <% end %>
                  <td class="align-middle">
                      <%= link_to "Edit this task", edit_task_path(task), class: "btn btn-info", disabled:true %> 
                  </td>
                  <td class="align-middle">
                   <%= button_to "Destroy", task, method: :delete, class: "btn btn-danger",    data: { turbo_confirm: 'Sure?'} %>
                  </td>
                </tr>
              <% else %>
                <tr class="fw-normal">
                  <td class="align-middle">
                    <span class="ms-2">
                    <span class="ms-2"><%=task.id %></span>
                    </span>
                  </td>
                  <td class="align-middle">
                    <span class="ms-2"><%=task.title %></span>
                  </td>
                  <td class="align-middle">
                    <span class="ms-2"><%=task.description%></span>
                  </td>
                  <td class="align-middle">
                    <span class="ms-2"><%=task.status%></span>
                  </td>
                  <td class="align-middle">
                    <span class="ms-2"><%=task.due_date%></span>
                  </td>
                  <%  if task.priority == "high" %>
                  <td class="align-middle" style="color:red">
                    <span class="ms-2"><%=task.priority%></span>
                  </td>
                  <%elsif task.priority == "medium" %>
                    <td class="align-middle" style="color:yellow">
                    <span class="ms-2"><%=task.priority%></span>
                  </td>
                  <% else %>
                    <td class="align-middle" style="color:#004a00">
                      <span class="ms-2"><%=task.priority%></span>
                     </td>
                  <% end %>
                  <td class="align-middle">
                      <%= link_to "Edit this task", edit_task_path(task), class: "btn btn-info" %> 
                  </td>
                  <td class="align-middle">
                   <%= button_to "Destroy", task, method: :delete, class: "btn btn-danger",    data: { turbo_confirm: 'Sure?'} %>
                  </td>
                </tr>
               <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
